* {
    color: white;
    font-family: "verdana";
}

body{
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
    background: #1d88b3;
    background: linear-gradient(291deg,rgba(29, 136, 179, 1) 0%, rgba(47, 181, 105, 1) 50%, rgba(186, 171, 39, 1) 100%);
}

h1{
    font-size: 50px;
}

h2{
    text-decoration: underline;
    font-size: 30px;
    margin-left: 50px;
}

p{
    text-align: justify;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.kepek{
    margin: auto;
    width: 100%;
    text-align: center;
}

.kepek img{
    border: 3px black solid;
    border-radius: 15px;
    width: 492px;
    height: auto;
    margin: auto;
}

img{
    border: 3px black solid;
    border-radius: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black
  }
  
li{
    font-size: 15px;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}
  
li a:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.het{
    background-color: black;
    transition: 0.3s;
    margin: 150px 800px 140px 800px;
    border-radius: 15px;
}

.het:hover{
    background-color: white;
    transition: 0.3s;
}

.het p:hover{
    color: black;
    transition: 0.3s;
}

.het a{
    text-decoration: none;
}

.het p{
    font-size: 40px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}